<footer role="contentinfo">
  <div class="footer">
    <div class="content-locator">
      <div class="site-col">
        <div class="hkust-logo desktop">
          <a href="https://www.ust.hk" target="_blank" rel="noreferrer">
            <img src="/themes/custom/hkust_theme/images/footer/hkust_logo_small.svg" alt="HKUST Logo" />
          </a>
        </div>
        <div class="site-pages">
          <a class="page" href="https://dataprivacy.ust.hk/university-data-privacy-policy-statement/" target="_blank" rel="noreferrer">Privacy</a>
          <div class="copyright desktop">
            Copyright © The Hong Kong University of Science and Technology. All rights reserved.
          </div>
        </div>
      </div>

      <div class="social-share-col">
        <div class="text">Follow HKUST on</div>
        <div class="icon-wrapper">
          <a class="page" href="https://www.facebook.com/hkust/" rel="noreferrer">
            <img src="/themes/custom/hkust_theme/images/footer/s-icon-fb.svg" alt="Facebook">
            <div class="visually-hidden">Facebook</div>
          </a>
          <a class="page" href="https://www.instagram.com/hkust" rel="noreferrer">
            <img src="/themes/custom/hkust_theme/images/footer/s-icon-ig.svg" alt="Instagram">
            <div class="visually-hidden">Instagram</div>
          </a>
          <a class="page" href="https://www.linkedin.com/school/hkust/" rel="noreferrer">
            <img src="/themes/custom/hkust_theme/images/footer/s-icon-in.svg" alt="LinkedIn">
            <div class="visually-hidden">LinkedIn</div>
          </a>
          <a class="page" href="https://www.youtube.com/user/hkust" rel="noreferrer">
            <img src="/themes/custom/hkust_theme/images/footer/s-icon-youtube.svg" alt="Youtube">
            <div class="visually-hidden">Youtube</div>
          </a>
          <a class="page" href="https://www.ust.hk/sites/default/files/menu_icons/IMG_5246.JPG" rel="noreferrer">
            <img src="/themes/custom/hkust_theme/images/footer/WeChat.svg" alt="Wechat">
            <div class="visually-hidden">Wechat</div>
          </a>
        </div>
      </div>

      <div class="hkust-logo mobile">
        <a href="https://www.ust.hk" target="_blank" rel="noreferrer">
          <img src="/themes/custom/hkust_theme/images/footer/WeChat.svg" alt="HKUST Logo" />
        </a>
      </div>

      <div class="caring">
        <span><img src="/themes/custom/hkust_theme/images/footer/5Year_caringLogo-01.png" alt="Caring Logo"></span>
      </div>

      <div class="copyright mobile">
        Copyright © The Hong Kong University of Science and Technology. All rights reserved.
      </div>
    </div>
  </div>
</footer>
