{#
/**
 * @file
 * Theme override for the Homepage Events view.
 */
#}


<div class="events-section-wrapper">
  <div class="container">
    <h3>Coming Soon!</h3>
    {# <div class="events-header section-head d-flex flex-row justify-content-between align-items-end">
      <h2 class="events-title">Latest Events</h2>
    </div>

    <div class="events-swiper-container">
      {% if rows %}
        <div class="swiper events-swiper">
          <div class="swiper-wrapper">
            {{ rows }}
          </div>
        </div>
        <div class="events-nav-prev"><i class="fas fa-chevron-left"></i></div>
        <div class="events-nav-next"><i class="fas fa-chevron-right"></i></div>
      {% else %}
        <div class="no-events-message">
          <h3>Coming Soon!</h3>
        </div>
      {% endif %}
    </div> #}
  </div>
</div>

<div class="funded-by-section text-center my-5">
  <div class="organisation-name">
     <img src="/themes/custom/hkust_theme/images/IENV_ENVR_logo.png" alt="IENV Logo" class="funded-by-logo funded-by-inev" style="max-height: 165px;"/>
  </div>
  <div class="funded-by-sponsor">
    <p class="funded-by-label">Funded By:</p>
    <img src="/themes/custom/hkust_theme/images/logo_qef.svg" alt="QEF Logo" class="funded-by-logo funded-by-qef" />
  </div>   
</div>