{#
/**
 * @file
 * Theme override for the Homepage Events unformatted rows.
 */
#}

{% for row in rows %}
  <div class="swiper-slide">
    <div class="event-item">
      {{ row.content }}
    </div>
  </div>
{% endfor %}