<div class="hero-container hero-minor">
  <div class="hero-image">
    {{ content.field_hero_image }}
  </div>
  <div class="hero-content">
    <h1 class="hero-title">{{ content.field_hero_title }}</h1>
    {% if content.field_hero_subtitle|render %}
      <div class="hero-subtitle">{{ content.field_hero_subtitle }}</div>
    {% endif %}
  </div>
</div>